body {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
}

#emoji-box {
    width: 250px;
    height: 250px;
    background-color: #ffefd5;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
}