body{
    font-family: Verdana;
    text-align: center;
}
#mybutton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.mylables{
    font-size: 3em;
}
#mysubmit{
    font-size: 1em;
}